= ${funcInfo.functionName}
:page-permalink: /:path/${funcInfo.functionName}
:page-layout: page_tools_ocaml
:page-pkg: tools_ocaml
:page-doc: refman
:page-tags: [tools,ocaml]
:page-keywords: notes, tips, cautions, warnings, admonitions
:page-last_updated: May 25, 2022

    load("@tools_ocaml//rules:${funcInfo.functionName}.bzl", "$funcInfo.functionName")
[.prototype]
pass:[
${util.funcSummary($funcInfo)}
]

${funcInfo.docString}

#if (!$funcInfo.getParameterList().isEmpty())
**PARAMETERS**

[.rule_attrs]
[cols="1,1,1,1"]
|===
| Name  | Description | Mandatory | Default Value

#foreach ($param in $funcInfo.getParameterList())
| $param.name
| $param.docString
| #if ($param.mandatory) Yes #else No #end
| $param.defaultValue
#end
|===
#end
