[Reference Manual](index.md)

# ppx providers
**WARNING** Beta version - subject to change

* [PpxDepsetProvider](#ppxdepsetprovider)
* [PpxArchivePayload](#ppxarchivepayload)
* [PpxArchiveProvider](#ppxarchiveprovider)
* [PpxExecutableProvider](#ppxexecutableprovider)
* [PpxModuleProvider](#ppxmoduleprovider)

----