<reference id="ug.${ruleName}">

  <title>${ruleName}</title>

  <prolog>
    <metadata>
      <keywords>
	<indexterm>ocaml</indexterm>
	<indexterm>rule</indexterm>
        <indexterm>${ruleName}</indexterm>
      </keywords>
    </metadata>
  </prolog>

  <refbody>

        <!-- ${ruleName}(#foreach ($attribute in $ruleInfo.getAttributeList())${attribute.name},#end) -->

    <refsyn>
      <codeblock>
        <!-- ${util.ruleSummary($ruleName, $ruleInfo)} -->
      </codeblock>
    </refsyn>

    <section>
      <title>TITLE</title>

      <p>
        ${ruleInfo.docString}
      </p>

      #if (!$ruleInfo.getAttributeList().isEmpty())
      <p>Arguments:</p>

      <parml>
        #foreach ($attribute in $ruleInfo.getAttributeList())
	<plentry>
	  <pt><parmname>${attribute.name}</parmname></pt>
	  <pd>Type: ${util.attributeTypeString($attribute)}</pd>
	  <pd>Desc: #if(!$attribute.docString.isEmpty()) ${util.markdownCellFormat($attribute.docString)} #else - #end</pd>
	  <pd>Default value: #if(!$attribute.defaultValue.isEmpty()) ${util.markdownCellFormat($attribute.defaultValue)} #else - #end</pd>
	  <pd>${util.mandatoryString($attribute)}</pd>
          #if(!${attribute.getProviderNameGroupList().isEmpty()})
          <pd>Providers:
          <!-- ${util.attributeProviders($attribute)} -->
          <ul>
            ## providers: list of lists
          #foreach ($pg in ${attribute.getProviderNameGroupList()})
          #foreach ($pl in ${pg.getProviderNameList()})
          <li>
            ${pl}
          </li>
          #end
          #end
          </ul>
          </pd>
          #end
	</plentry>
        #end
      </parml>
      #end
    </section>
  </refbody>
<related-links>

  <link href="obazlbook/ug/${ruleName}.dita"
        format="html"
        scope="internal">
    <!-- <linktext>Filesets (wiki page)</linktext> -->
  </link>

</related-links>

</reference>

$ruleInfo

#if (!$ruleInfo.getAttributeList().isEmpty())
**ATTRIBUTES** for rule `${ruleName}`

| Name  | Description | Type | Mandatory | Default |
| ------------- | ------------- | ------------- | :------------- | :------------- |
#foreach ($attribute in $ruleInfo.getAttributeList())
| <a id="${ruleName}-${attribute.name}"></a>$attribute.name | #if(!$attribute.docString.isEmpty()) ${util.markdownCellFormat($attribute.docString)} #else - #end  | ${util.attributeTypeString($attribute)} | ${util.mandatoryString($attribute)} | $attribute.defaultValue |
#end
#end
