[Reference Manual](index.md)

# opam providers

**WARNING**  beta version - subject to change

* [OpamPkgInfo](#opampkginfo)

The following Providers are used as structs, to configure the rules;
they are not delivered as the output of any rules.

* [OpamConfig](#opamconfig)
* [OpamSwitch](#opamswitch)

----